title = "Sizing process"

# List of folder paths where user added custom registered OpenMDAO components
module_folders = ['C:\Users\vinx0\OneDrive\Desktop\RHEA\rhea\models']

# Input and output files
input_file = "./problem_inputs.xml"
output_file = "./problem_outputs.xml"

# Definition of problem driver assuming the OpenMDAO convention "import openmdao.api as om"
driver = "om.ScipyOptimizeDriver(tol=1e-6, optimizer='COBYLA')"

# Definition of OpenMDAO model
[model]
    # Solvers are defined assuming the OpenMDAO convention "import openmdao.api as om"
    nonlinear_solver = "om.NonlinearBlockGS(maxiter=200)"
    linear_solver = "om.DirectSolver()"

    # Although "model" is a mandatory name for the top level of the model, its
    # sub-components can be freely named by user

    [model.geometry]
        # An OpenMDAO component is identified by its "id"
        id = "rhea.geometry.sizing"    

    [model.weight]
        id = "rhea.weight.hybrid_sizing"
        payload_from_npax = false     
                
    [model.mtow]
        id = "rhea.loop.mtow"   
        
    [model.aerodynamics.highspeed]
        id = "rhea.aerodynamics.highspeed"
    [model.aerodynamics_lowspeed]
        id = "rhea.aerodynamics.lowspeed"
    [model.aerodynamics_takeoff]
        id =  "rhea.aerodynamics.takeoff"

###################ONLY for L1 models
        
#    [model.electric_propulsion]
#        id = "rhea.propulsion.fuel_cell_sizing"    

       
###################
        
    [model.performance]
        id = "rhea.performances.sizing_flight"   
        propulsion_id = "rhea.wrapper.propulsion.PW100_H2"
        out_file = "C:/Users/vinx0/OneDrive/Desktop/RHEA/workdir/flight_points.csv"
        
    [model.hybrid_systems]
        id = "rhea.propulsion.BoP_sizing"   

    [model.hq_tail_sizing]
        id = "fastoad.handling_qualities.tail_sizing"
    [model.hq_static_margin]
        id = "fastoad.handling_qualities.static_margin"
    [model.wing_position]
        id = "rhea.loop.wing_position"        
    [model.wing_area]
        id = "rhea.loop.wing_area"
[optimization]  # This section is needed only if optimization process is run

    [[optimization.design_var]]
            name ="data:geometry:wing:area"

            lower = 50
            upper = 60
            
    [[optimization.design_var]]
            name = "data:geometry:wing:MAC:at25percent:x"
            lower = 8.5
            upper = 11.0
            
    [[optimization.constraint]]
            name = "data:handling_qualities:static_margin"
            lower = 0.05
            upper = 0.1

    [[optimization.objective]]
            name = "data:mission:sizing:fuel"
