title = "Sizing process"

# List of folder paths where user added custom registered OpenMDAO components
module_folders = ['C:\Users\vinx0\OneDrive\Desktop\RHEA\rhea\models']

# Input and output files
input_file = "./problem_inputs.xml"
output_file = "./problem_outputs.xml"

# Definition of problem driver assuming the OpenMDAO convention "import openmdao.api as om"
driver = "om.ScipyOptimizeDriver(tol=1e-6, optimizer='COBYLA')"

# Definition of OpenMDAO model
[model]
    # Solvers are defined assuming the OpenMDAO convention "import openmdao.api as om"
    nonlinear_solver = "om.NonlinearBlockGS(maxiter=200)"
    linear_solver = "om.DirectSolver()"

    # Although "model" is a mandatory name for the top level of the model, its
    # sub-components can be freely named by user
    [model.geometry]
        # An OpenMDAO component is identified by its "id"
        id = "rhea.geometry.IN"
#    [model.propulsion_propeller]
#        id = "rhea.propulsion.propeller_sizing" 

#    [model.aerodynamics.highspeed]
#        id = "rhea.aerodynamics.highspeed"
#    [model.aerodynamics_lowspeed]
#        id = "rhea.aerodynamics.lowspeed"
#    [model.aerodynamics_takeoff]
#        id =  "rhea.aerodynamics.takeoff"



#    [model.propulsion]
#        id = "rhea.propulsion.turboprop_sizing"  
         
#    [model.electric_propulsion]
#        id = "rhea.propulsion.fuel_cell_sizing"    

        
        
    [model.performance_OEI]
        id ="rhea.performances.OEI"
        propulsion_id = "rhea.wrapper.propulsion.PHEB_engine_ML_L1"
        prop_fid ="ADT"
     
    [model.performance]
        id = "rhea.performances.sizing_flight"   
        propulsion_id = "rhea.wrapper.propulsion.PHEB_engine_ML_L1"
        out_file = "C:/Users/vinx0/OneDrive/Desktop/RHEA/workdir/TPAD/TPAD_hybrid_bat/TPAD_hybrid_bat_Pelec_210.0_kw/sizing/flight_points.csv"
        prop_fid ='ADT'



    [model.weight]
        id = "rhea.weight.IN"
        payload_from_npax = false
        out_file = "C:/Users/vinx0/OneDrive/Desktop/RHEA/workdir/TPAD/TPAD_hybrid_bat/TPAD_hybrid_bat_Pelec_210.0_kw/sizing/sizing_conditions.csv"
        
 

    [model.hq.static_margin]
        id = "fastoad.handling_qualities.static_margin"
        #target = 0.05

[optimization]  # This section is needed only if optimization process is run

    [[optimization.design_var]]
            name ="data:geometry:wing:area"

            lower = 50
            upper = 60
            
    [[optimization.design_var]]
            name = "data:geometry:wing:MAC:at25percent:x"
            lower = 8.5
            upper = 11.0
            
    [[optimization.constraint]]
            name = "data:handling_qualities:static_margin"
            lower = 0.05
            upper = 0.1

    [[optimization.objective]]
            name = "data:mission:sizing:fuel"
